<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="keywords" content="Transfers - Private Transport and Car Hire HTML Template" />
	<meta name="description" content="Transfers - Private Transport and Car Hire HTML Template">
	<meta name="author" content="themeenergy.com">

	<title>Suvoyatra | Best Bus Booking Website In India</title>

	<link rel="stylesheet" href="css/styler.css" />
	<link rel="stylesheet" href="css/theme-pink.css" id="template-color" />
	<link rel="stylesheet"
		href="../../../../ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
	<link rel="stylesheet" href="css/jquery-ui.theme.css" />
	<link rel="stylesheet" href="css/style.css" />
	<link rel="stylesheet" href="css/animate.css" />
	<link rel="stylesheet" href="css/icons.css" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link href='http://fonts.googleapis.com/css?family=Raleway:400,500,600,700|Montserrat:400,700' rel='stylesheet'
		type='text/css'>
	<link href="css/toaster.css" rel="stylesheet"/>
	<!-- <link rel="shortcut icon" href="images/favicon.ico" /> -->
	<script src="../../../../use.fontawesome.com/e808bf9397.js"></script>
</head>

<body>

	<!-- Header -->
	<header class="header" role="banner">
		<div class="wrap">
			<!-- Logo -->
			<div class="logo">
				<a href="/" title="Transfers"><img src="https://ik.imagekit.io/tz42dgwpw/llll_zPE5JoOhCB.png"
						class="logo_img" alt="Transfers" /></a>
			</div>
			<!-- //Logo -->

			<!-- Main Nav -->
			<nav role="navigation" class="main-nav" id="mySidenav">
				<ul>
					<li><a><a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a></a></li>
					<li><a href="/" title="">Home</a></li>
					<li><a href="/about" title="about">About Us</a></li>
					</li>
					<li><a href="/faq" title="faqs">FAQs</a>
					</li>
					<li><a href="/partner" title="Partner">Partner</a></li>
					<li><a title="user">user</a>
						<ul id="userMenu">
							<li><a href="/user-login" title="Login">Login</a></li>
							<li class="active"><a href="/account" title="My account">My account</a></li>
							<li><a href="/booking-history" title="booking-history">Booking History</a></li>
						</ul>
					</li>
					<li><a href="/contact" title="Contact">Get In Touch</a></li>
				</ul>
			</nav>
			<!-- //Main Nav -->
			<span style="font-size:30px;cursor:pointer" onclick="openNav()" class="nav_open">&#9776;</span>
		</div>
	</header>
	<!-- //Header -->

	<!-- Main -->
	<main class="main" role="main">
		<!-- Page info -->
		<header class="site-title color">
			<div class="wrap">
				<div class="container">
					<h1>My account</h1>
					<nav role="navigation" class="breadcrumbs">
						<ul>
							<li><a href="/" title="Home">Home</a></li>
							<li>My account</li>
						</ul>
					</nav>
				</div>
			</div>
		</header>
		<!-- //Page info -->


		<div class="wrap">
			<div class="row">

				<!--- Sidebar -->
				<aside class="one-fourth sidebar left">
					<!-- Widget -->
					<div class="widget">
						<ul class="categories">
							<li class="active"><a href="#tab1">Account Details</a></li>
						</ul>
					</div>
					<!-- //Widget -->
				</aside>
				<!--- //Sidebar -->

				<!--- Content -->
				<div class="three-fourth content">
					<!-- Tab -->
					<article class="single" id="tab1">
						<div class="box">
							<h2>General Details</h2>
							<fieldset>
								<div class="f-row">
									<div class="one-half">
										<label for="name">Name and surname</label>
										<input type="text" id="name" placeholder="" />
									</div>
									<div class="one-half">
										<label for="email">Email address</label>
										<input type="email" id="email" placeholder="" />
									</div>
								</div>
								<div class="f-row">
									<div class="one-half">
										<label for="number">Mobile number</label>
										<input type="number" id="number" placeholder="xx-xxxx-xxxx" />
									</div>
									<div class="one-half">
										<label for="address">Street address</label>
										<input type="text" id="address" placeholder="" />
									</div>
								</div>
								<div class="f-row">
									<div class="one-half">
										<label for="zip">Zip code</label>
										<input type="text" id="zip" placeholder="" />
									</div>
									<div class="one-half">
										<label for="city">City</label>
										<input type="text" id="city" placeholder="" />
									</div>
								</div>
								<div class="f-row">
									<input type="submit" value="Save Changes" id="save_changes" name="submit"
										class="btn color medium" />
								</div>
							</fieldset>
						</div>
					</article>
				</div>
				<!--- //Content -->
			</div>
		</div>
	</main>
	<!-- //Main -->

	<!-- Footer -->
	<footer class="footer black" role="contentinfo">
		<div class="wrap">
			<div class="row">
				<!-- Column -->
				<article class="one-half">
					<h6>About us</h6>
					<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt
						ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci
						tation nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Lorem ipsum dolor
						sit amet, consectetuer adipiscing elit, sed diam nonummy.</p>
				</article>
				<!-- //Column -->

				<!-- Column -->
				<article class="one-fourth">
					<h6>Need help?</h6>
					<p>Contact us via phone or email:</p>
					<p class="contact-data"><span class="icon icon-themeenergy_call"></span> +1 555 555 555</p>
					<p class="contact-data"><span class="icon icon-themeenergy_mail-2"></span> <a
							href="mailto:help@transfers.com">help@transfers.com</a></p>
				</article>
				<!-- //Column -->

				<!-- Column -->
				<article class="one-fourth">
					<h6>Follow us</h6>
					<ul class="social">
						<li><a href="#" title="facebook"><i class="fa fa-fw fa-facebook"></i></a></li>
						<li><a href="#" title="twitter"><i class="fa fa-fw fa-twitter"></i></a></li>
						<li><a href="#" title="gplus"><i class="fa fa-fw fa-google-plus"></i></a></li>
						<li><a href="#" title="linkedin"><i class="fa fa-fw fa-linkedin"></i></a></li>
						<li><a href="#" title="pinterest"><i class="fa fa-fw fa-pinterest-p"></i></a></li>
						<li><a href="#" title="vimeo"><i class="fa fa-fw fa-vimeo"></i></a></li>
					</ul>
				</article>
				<!-- //Column -->
			</div>

			<div class="copy">
				<p>Copyright 2016, Themeenergy. All rights reserved. </p>

				<nav role="navigation" class="foot-nav">
					<ul>
						<li><a href="#" title="Home">Home</a></li>
						<li><a href="#" title="Blog">Blog</a></li>
						<li><a href="#" title="About us">About us</a></li>
						<li><a href="#" title="Contact us">Contact us</a></li>
						<li><a href="#" title="Terms of use">Terms of use</a></li>
						<li><a href="#" title="Help">Help</a></li>
						<li><a href="#" title="For partners">For partners</a></li>
					</ul>
				</nav>
			</div>
		</div>
	</footer>
	<!-- //Footer -->

	<!-- jQuery -->
    <script src="js/jquery.min.js"></script>
	<script src="../../../../ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.10/lodash.min.js"></script>
	<script src="js/toaster.min.js"></script>
	<script src="js/jquery.uniform.min.js"></script>
	<script src="js/jquery.slicknav.min.js"></script>
	<script src="js/wow.min.js"></script>
	<script src="js/scripts.js"></script>
	<script>
		const basicUrl = window.location.origin;
		var userDetails = {};
		$(document).ready(function () {
			console.log("Its hitting here");
			$('.single').hide().first().show();
			$('.categories li:first').addClass('active');

			$('.categories a').on('click', function (e) {
				e.preventDefault();
				$(this).closest('li').addClass('active').siblings().removeClass('active');
				$($(this).attr('href')).show().siblings('.single').hide();
			});
			var hash = $.trim(window.location.hash);
			if (hash) $('.categories a[href$="' + hash + '"]').trigger('click');


			
			let userToken = window.localStorage.getItem("suvoyatratoken");
			// console.log("userToken ",userToken);
			if(!userToken || userToken == null || userToken == "" || userToken == undefined){
				 window.location.href = basicUrl + "/user-login"
			}else{
				fetchUserDetails(userToken)
			}
			$("#save_changes").click(function(){

				const data = {
					name : $("#name").val() ? $("#name").val() : "",
					email : $("#email").val() ? $("#email").val() : "",
					phone : $("#number").val() ? $("#number").val() : "",
					address : $("#address").val() ? $("#address").val() : "",
					zipCode : $("#zip").val() ? $("#zip").val() : "",
					city : $("#city").val() ? $("#city").val() : "",
				}
				console.log("data ",data);
				console.log(_.isEqual(userDetails, data));
				if(_.isEqual(userDetails, data)){
					return toastr.info('No changes found');
				}
				$.ajax({
					url:basicUrl+'/users/save-user-details',
					type: "POST",
					beforeSend: function(request) {
						request.setRequestHeader("authorizationToken", userToken);
					},
					data: data,
					dataType: "JSON",
					success: function(result){
						toastr.success('Data saved successfully');
						console.log("result ",result);
						if(result.status == true){
							fetchUserDetails(userToken);
						}
					},
					error: function(response) {
						response.responseJSON.message ? toastr.error(response.responseJSON.message) : toastr.error("Something went wrong please try again"); 
						// toastr.error('some error is comming');
						// console.log("Response ",response);
						fetchUserDetails(userToken);
					}
				})
			})

		});
		 function fetchUserDetails(userToken){
			$.ajax({
				url:basicUrl+'/users/check-user-status',
				type: "POST",
				data: {'token':userToken},
				dataType: "JSON",
				success: function(result){
					console.log("result ",result);
					console.log("Successfully validate");
					const payload = result.payload;
					$("#name").val(payload.userName);
					$("#email").val(payload.userEmail);
					$("#number").val(payload.user_Ph_Number);
					$("#address").val(payload.streetAddress);
					$("#zip").val(payload.zipCode);
					$("#city").val(payload.city);
					userDetails.name =  $("#name").val();
					userDetails.email = $("#email").val();
					userDetails.phone = $("#number").val();
					userDetails.address = $("#address").val();
					userDetails.zipCode = $("#zip").val();
					userDetails.city = $("#city").val();
					console.log("userDetails ",userDetails);
				},
				error: function(response) {
					console.log("Its hitting here ",response);
					localStorage.removeItem("suvoyatratoken");
					window.location.href = basicUrl +'/user-login';
				}
			})   
		}
	</script>
	<script src="js/styler.js"></script>
	<script>
		function openNav() {
			document.getElementById("mySidenav").style.width = "250px";
		}
		function closeNav() {
			document.getElementById("mySidenav").style.width = "0";
		}
	</script>
</body>

</html>