<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="Transfers - Private Transport and Car Hire HTML Template" />
    <meta name="description" content="Transfers - Private Transport and Car Hire HTML Template">
    <meta name="author" content="themeenergy.com">

    <title>Suvoyatra | Best Bus Booking Website In India</title>

    <link rel="stylesheet" href="css/styler.css" />
    <link rel="stylesheet" href="css/theme-pink.css" id="template-color" />
    <link rel="stylesheet"
        href="../../../../ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="css/jquery-ui.theme.css" />
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/animate.css" />
    <link rel="stylesheet" href="css/icons.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,500,600,700|Montserrat:400,700' rel='stylesheet'
        type='text/css'>
    <!-- <link rel="shortcut icon" href="images/favicon.ico" /> -->
    <script src="../../../../use.fontawesome.com/e808bf9397.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css
    " />
    <link rel="stylesheet" href="css/seat.css" type="text/css" />
</head>

<body>

    <!-- Header -->
    <header class="header" role="banner">
		<div class="wrap">
			<!-- Logo -->
			<div class="logo">
				<a href="/" title="Transfers"><img src="https://ik.imagekit.io/tz42dgwpw/llll_zPE5JoOhCB.png"
						class="logo_img" alt="Transfers" /></a>
			</div>
			<!-- //Logo -->

			<!-- Main Nav -->
			<nav role="navigation" class="main-nav" id="mySidenav">
				<ul>
					<li><a><a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a></a></li>
					<li><a href="/" title="">Home</a></li>
					<li><a href="/about" title="about">About Us</a></li>
					</li>
					<li><a href="/faq" title="faqs">FAQs</a>
					</li>
					<li><a href="/partner" title="Partner">Partner</a></li>
					<li><a title="user">user</a>
						<ul id="userMenu">
							<li><a href="/user-login" title="Login">Login</a></li>
							<li><a href="/account" title="My account">My account</a></li>
							<li class="active"><a href="/booking-history" title="booking-history">Booking History</a></li>
						</ul>
					</li>
					<li><a href="/contact" title="Contact">Get In Touch</a></li>
				</ul>
			</nav>
			<!-- //Main Nav -->
			<span style="font-size:30px;cursor:pointer" onclick="openNav()" class="nav_open">&#9776;</span>
		</div>
	</header>
    <!-- //Header -->

    <!-- Main -->
    <main class="main" role="main">
        <!-- Page info -->
        <header class="site-title color">
            <div class="wrap">
                <div class="container">
                    <h1>Booking History</h1>
                    <nav role="navigation" class="breadcrumbs">
                        <ul>
                            <li><a href="/" title="Home">Home</a></li>
                            <li>Booking History</li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <!-- //Page info -->


        <div class="wrap">
            <div class="row">

                <!--- Sidebar -->
                <aside class="one-fourth sidebar left">
                    <!-- Widget -->
                    <div class="widget">
                        <ul class="categories">
                            <li class="active"><a href="#tab1">History</a></li>
                            <!-- <li><a href="#tab2">Notifications</a></li> -->
                        </ul>
                    </div>

                    <!-- //Widget -->
                </aside>
                <!--- //Sidebar -->

                <!--- Content -->
                <div class="three-fourth content">
                    <!-- Tab -->
                    <article class="single hentry" id="tab1">
                        <!-- Item -->
                        <div class="user-booking-filter">
                            <div>
                                <label>From</label>
                                <input type="date" id="start_date">
                            </div>
                            <p class="filter-booking">Filter Your Bookings</p>
                            <div>
                                <label>To</label>
                                <input type="date" id="end_date">
                            </div>
                        </div>
                        <div class="user-booking-history">

                        </div>
                        <!-- <div class="box history">
                            <h6>28.08.2014 <small>at</small> 10:00<br />Berlin Schonefeld Airport <small>to</small>
                                Central Train Station</h6>
                            <div class="row">
                                <div class="one-third">
                                    <p><span>Vehicle:</span> Matribhumi</p>
                                </div>
                                <div class="two-third">
                                    <p><span>Price:</span> $450</p>
                                </div>
                            </div>
                            <a href="#" title="Cancel">Cancel</a> 
                        </div> -->
                        <!-- //Item -->
                        <div id="hitoryPagination">

                        </div>

                    </article>
                    <!-- //Tab -->
                    <!-- Tab -->
                    <article class="single" id="tab2">
                        <div class="box">
                            <h2>Notification settings</h2>
                            <fieldset>
                                <div class="f-row check">
                                    <input type="checkbox" id="checkbox1" />
                                    <label for="checkbox1">General promotions, updates, news about Transfers or general
                                        promotions for partner campaigns and services, user surveys, inspiration, and
                                        love from Transfers.</label>
                                </div>

                                <div class="f-row check">
                                    <input type="checkbox" id="checkbox2" />
                                    <label for="checkbox2">Reservation and review reminders. </label>
                                </div>
                            </fieldset>
                        </div>
                    </article>
                    <!-- //Tab -->
                </div>
                <!--- //Content -->
            </div>
        </div>
    </main>
    <!-- //Main -->

    <!-- Footer -->
    <footer class="footer black" role="contentinfo">
		<div class="wrap">
			<div class="row">
				<!-- Column -->
				<article class="one-half">
					<h6>About us</h6>
					<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt
						ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci
						tation nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Lorem ipsum dolor
						sit amet, consectetuer adipiscing elit, sed diam nonummy.</p>
				</article>
				<!-- //Column -->

				<!-- Column -->
				<article class="one-fourth">
					<h6>Need help?</h6>
					<p>Contact us via phone or email:</p>
					<p class="contact-data"><span class="icon icon-themeenergy_call"></span> +1 555 555 555</p>
					<p class="contact-data"><span class="icon icon-themeenergy_mail-2"></span> <a
							href="mailto:help@transfers.com">help@transfers.com</a></p>
				</article>
				<!-- //Column -->

				<!-- Column -->
				<article class="one-fourth">
					<h6>Follow us</h6>
					<ul class="social">
						<li><a href="#" title="facebook"><i class="fa fa-fw fa-facebook"></i></a></li>
						<li><a href="#" title="twitter"><i class="fa fa-fw fa-twitter"></i></a></li>
						<li><a href="#" title="gplus"><i class="fa fa-fw fa-google-plus"></i></a></li>
						<li><a href="#" title="linkedin"><i class="fa fa-fw fa-linkedin"></i></a></li>
						<li><a href="#" title="pinterest"><i class="fa fa-fw fa-pinterest-p"></i></a></li>
						<li><a href="#" title="vimeo"><i class="fa fa-fw fa-vimeo"></i></a></li>
					</ul>
				</article>
				<!-- //Column -->
			</div>

			<div class="copy">
				<p>Copyright 2016, Themeenergy. All rights reserved. </p>

				<nav role="navigation" class="foot-nav">
					<ul>
						<li><a href="/" title="Home">Home</a></li>
						<li><a href="/blog" title="Blog">Blog</a></li>
						<li><a href="/about" title="About us">About us</a></li>
						<li><a href="/partner" title="partner">Partner</a></li>
						<li><a href="/contact" title="Contact us">Get In Touch</a></li>
						<li><a href="#" title="Terms of use">Terms & Conditions</a></li>
					</ul>
				</nav>
			</div>
		</div>
	</footer>
    <!-- //Footer -->

    <!-- jQuery -->
    <script src="js/jquery.min.js"></script>
    <script src="js/jquery.uniform.min.js"></script>
    <script src="js/jquery.slicknav.min.js"></script>
    <script src="js/wow.min.js"></script>
    <script src="js/scripts.js"></script>
    <script src="js/toaster.min.js"></script>

    <script>
        const basicUrl = window.location.origin;
        let userToken = window.localStorage.getItem("suvoyatratoken");
        $(document).ready(function () {
            $('.single').hide().first().show();
            $('.categories li:first').addClass('active');

            $('.categories a').on('click', function (e) {
                e.preventDefault();
                $(this).closest('li').addClass('active').siblings().removeClass('active');
                $($(this).attr('href')).show().siblings('.single').hide();
            });
            var hash = $.trim(window.location.hash);
            if (hash) $('.categories a[href$="' + hash + '"]').trigger('click');



			// console.log("userToken ",userToken);
			if(!userToken || userToken == null || userToken == "" || userToken == undefined){
				 window.location.href = basicUrl + "/user-login"
			}else{
				fetchUserDetails(userToken)
			}
            defaultBooking();

            $("#start_date").change( async function(){
                await filterBookingHistory();
            }) 

            $("#end_date").change(async function(){
                await filterBookingHistory();
            })
            
        });


        function fetchUserDetails(userToken){
			$.ajax({
				url:basicUrl+'/users/check-user-status',
				type: "POST",
				data: {'token':userToken},
				dataType: "JSON",
				success: function(result){
                    console.log("Sucessfully validate");
				},
				error: function(response) {
					console.log("Its hitting here ",response);
					localStorage.removeItem("suvoyatratoken");
					window.location.href = basicUrl +'/user-login';
				}
			})   
		}

        async function defaultBooking(){
            console.log("Its calling");
            var todayDate = new Date();
            var day = ("0" + todayDate.getDate()).slice(-2);
            var month = ("0" + (todayDate.getMonth() + 1)).slice(-2);
            var todaysetDate = todayDate.getFullYear()+"-"+(month)+"-"+(day) ;
            $("#end_date").val(todaysetDate);
            let pastDay = ("0" + (todayDate.getDate()-7)).slice(-2);
            let pastMonth = ("0" + (todayDate.getMonth() + 1)).slice(-2);
            let pastsetDate = todayDate.getFullYear()+"-"+(pastMonth)+"-"+(pastDay) ;
            $("#start_date").val(pastsetDate);
            console.log("todaysetDate ",todaysetDate);
            console.log("pastsetDate ",pastsetDate);
            try{
                await showBookingHistory(pastsetDate,todaysetDate,1);
            }catch(e){
                console.log("Error in getting bus list ",e);
            }
        }


    async function filterBookingHistory(){
        const startDate = $("#start_date").val();
        const endDate = $("#end_date").val();
        await showBookingHistory(startDate,endDate,1);
    } 

 async function fetchBookingHistory(startDate,endDate,page){
    
    let fetchbookingHistorytUrl = basicUrl+'/users/fetch-booking-history';
    fetchbookingHistorytUrl = fetchbookingHistorytUrl + '?page='+page+'&startDate='+startDate+'&endDate='+endDate;
    //    console.log("fetchBooking history ",fetchbookingHistorytUrl);
   return new Promise((resolve,reject) =>{
       $.ajax({
           url:fetchbookingHistorytUrl,
           type:'GET',
           beforeSend: function(request) {
               request.setRequestHeader("authorizationToken", userToken);
           },
           dataType:'JSON',
           success:function(result){
               if(result.status == true){
                   resolve(result);
               }
           },
           error :function (response){
               console.log("response ",response);
               toastr.error("Something went wrong while fetching the booking history list");
               reject(false);
           } 
       })
   })
 }
 function reformatDateTime(date){
    //   console.log("Date ",date);
    let finalDatewithTime = date.replace(/T/, ' ').replace(/\..+/, '');
    // let finalDate = finalDatewithTime.split(" ")[0];
    return finalDatewithTime;
}

 async function showBookingHistory(startDate,endDate,page,bus_id){
    try{
        const result = await fetchBookingHistory(startDate,endDate,page,bus_id);
        console.log("result booking history ",result);
        if(result != false){
            let bookingList = "";
            if(result.payload && result.payload.length > 0){
                result.payload.map(cur_booking =>{
                    let cur_booking_dateTime = reformatDateTime(cur_booking.bookingFor);
                    bookingList += '<div class="box history">';
                    bookingList += '<h6>'+cur_booking_dateTime.split(" ")[0]+ '<small> at </small>'+ cur_booking_dateTime.split(" ")[1] + '<br>';
                    bookingList += cur_booking.pickupLocation + '<small> to </small>'+cur_booking.dropLocation+'</h6>';
                    bookingList += '<div class="row"><div class="one-third"><p><span>Vehicle:</span>'+cur_booking.busDetails.busName+'</p>';
                    bookingList += '</div><div class="two-third"><p><span>Price: :</span>'+cur_booking.bookingAmmount+'</p>';
                    bookingList += '</div></div><a href="#" title="Cancel">Cancel</a></div>';
                })
            }else{
                bookingList += '<h1 style="text-align: center;"> No Booking Found</h1>';
            }
            let pages = Number(result.totalPages);
            let current = Number(result.currentPage);
            let paginationDetails = "";
            if (pages > 0) {
                paginationDetails +='<ul class="pagination text-center" style="margin : 20px 20px;">';   
                if (current == 1) { 
                    paginationDetails += '<li class="disabled"><a>First</a></li>';
                } else { 
                    paginationDetails += '<li><a href="javascript:showBookingHistory(`'+startDate+'`,`'+endDate+'`,1)">First</a></li>';
                } 
                var i = (Number(current) > 3 ? Number(current) - 2 : 1) 
                if (i !== 1) { 
                    paginationDetails += '<li class="disabled"><a>...</a></li>';
                } 
                for (; i <= (Number(current) + 4) && i <= pages; i++) { 
                    if (i == current) { 
                        paginationDetails += '<li class="active"><a>'+i+'</a></li>';
                    } else { 
                        paginationDetails += '<li><a href="javascript:showBookingHistory(`'+startDate+'`,`'+endDate+'`,'+i+')">'+ i +'</a></li>';
                    } 
                    if (i == Number(current) + 4 && i < pages) { 
                        paginationDetails += '<li class="disabled"><a>...</a></li>';
                    }
                } 
                if (current == pages) { 
                    paginationDetails += '<li class="disabled"><a>Last</a></li>';
                } else { 
                    paginationDetails += '<li><a href="javascript:showBookingHistory(`'+startDate+'`,`'+endDate+'`,`'+pages+')">Last</a></li>';
                } 
                paginationDetails += '</ul>';
            }  
            $(".user-booking-history").html(bookingList);
            $("#hitoryPagination").html(paginationDetails);
        }
    }catch(err){
        console.log("Error in Booking list ",err);
    }
 }

    </script>
    <script>
        function openNav() {
            document.getElementById("mySidenav").style.width = "250px";
        }

        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
        }
    </script>
    <script src="js/styler.js"></script>
    <script src="js/select-template.js"></script>
</body>

</html>