<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="keywords" content="Transfers - Private Transport and Car Hire HTML Template" />
	<meta name="description" content="Transfers - Private Transport and Car Hire HTML Template">
	<meta name="author" content="themeenergy.com">

	<title>Suvoyatra | Best Bus Booking Website In India</title>

	<link rel="stylesheet" href="../css/styler.css" />
	<link rel="stylesheet" href="../css/theme-pink.css" id="template-color" />
	<link rel="stylesheet"
		href="../../../../ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
	<link rel="stylesheet" href="../css/jquery-ui.theme.css" />
	<link rel="stylesheet" href="../css/style.css" />
	<link rel="stylesheet" href="../css/animate.css" />
	<link rel="stylesheet" href="../css/icons.css" />
    <link href="../css/toaster.css" rel="stylesheet"/>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link href='http://fonts.googleapis.com/css?family=Raleway:400,500,600,700|Montserrat:400,700' rel='stylesheet'
		type='text/css'>
	<link rel="shortcut icon" href="../images/favicon.ico" />
	<script src="../../../../../use.fontawesome.com/e808bf9397.js"></script>
</head>

<body>

	<!-- Header -->
	<header class="header" role="banner">
		<div class="wrap">
			<!-- Logo -->
			<div class="logo">
				<a href="index.html" title="Transfers"><img src="https://ik.imagekit.io/tz42dgwpw/llll_zPE5JoOhCB.png"
						class="logo_img" alt="Transfers" /></a>
			</div>
			<!-- //Logo -->

			<!-- Main Nav -->
			<nav role="navigation" class="main-nav" id="mySidenav">
				<ul>
					<li><a><a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a></a></li>
					<li class="active"><a href="index.html" title="">Home</a></li>
					<li><a href="about.html" title="about">About Us</a></li>
					</li>
					<li><a href="faq.html" title="faqs">FAQs</a>
					</li>
					<li><a href="partner.html" title="Partner">Partner</a></li>
					<li><a title="user">user</a>
						<ul>
							<li><a href="/user-login" title="Login">Login</a></li>
							<li><a href="account.html" title="My account">My account</a></li>
							<li><a href="booking_history.html" title="booking-history">Booking History</a></li>
						</ul>
					</li>
					<li><a href="contact.html" title="Contact">Get In Touch</a></li>
				</ul>
			</nav>
			<!-- //Main Nav -->
			<span style="font-size:30px;cursor:pointer" onclick="openNav()" class="nav_open">&#9776;</span>
		</div>
	</header>
	<!-- //Header -->

	<!-- Main -->
	<main class="main" role="main">
		<!-- Page info -->
		<header class="site-title color">
			<div class="wrap">
				<div class="container">
					<h1>OTP</h1>
					<nav role="navigation" class="breadcrumbs">
						<ul>
							<li><a href="index.html" title="Home">Home</a></li>
							<li>Submit OTP</li>
						</ul>
					</nav>
				</div>
			</div>
		</header>
		<!-- //Page info -->

		<div class="wrap">
			<div class="row">
				<!--- Content -->
				<div class="content one-half modal">
					<!--Login-->
					<div class="box">
						<form>
							<div class="f-row">
								<div class="full-width">
									<label for="OTP">Submit OTP</label>
									<input type="text" id="otp" />
								</div>
							</div>
							<div class="f-row">
								<div class="full-width">
									<!-- <input type="text" class="hide" value=" "> -->
									<input type="button" onclick="submitOtp('<%= id %>')" value="Submit" class="btn color medium full" />
								</div>
							</div>
						</form>
					</div>
					<!--//Login-->
				</div>
				<!--- //Content -->
			</div>
		</div>
	</main>
	<!-- //Main -->

	<!-- Footer -->
	<footer class="footer black" role="contentinfo">
		<div class="wrap">
			<div class="row">
				<!-- Column -->
				<article class="one-half">
					<h6>About us</h6>
					<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt
						ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci
						tation nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Lorem ipsum dolor
						sit amet, consectetuer adipiscing elit, sed diam nonummy.</p>
				</article>
				<!-- //Column -->

				<!-- Column -->
				<article class="one-fourth">
					<h6>Need help?</h6>
					<p>Contact us via phone or email:</p>
					<p class="contact-data"><span class="icon icon-themeenergy_call"></span><a
							href="tel:+91 7869 4673 90">+91 7869 4673 90</a< /p>
							<p class="contact-data"><span class="icon icon-themeenergy_mail-2"></span> <a
									href="mailto:support@suvoyatra.in">support@suvoyatra.in</a></p>
				</article>
				<!-- //Column -->

				<!-- Column -->
				<article class="one-fourth">
					<h6>Follow us</h6>
					<ul class="social">
						<li><a href="#" title="facebook"><i class="fa fa-fw fa-facebook"></i></a></li>
						<li><a href="#" title="twitter"><i class="fa fa-fw fa-twitter"></i></a></li>
						<li><a href="#" title="gplus"><i class="fa fa-fw fa-instagram"></i></a></li>
					</ul>
				</article>
				<!-- //Column -->
			</div>

			<div class="copy">
				<p>Copyright 2020, suvoyatra. All rights reserved. </p>

				<nav role="navigation" class="foot-nav">
					<ul>
						<li><a href="index.html" title="Home">Home</a></li>
						<li><a href="about.html" title="About us">About us</a></li>
						<li><a href="partner.html" title="partner">Partner</a></li>
						<li><a href="contact.html" title="Contact us">Get In Touch</a></li>
						<li><a href="#" title="Terms of use">Terms & Conditions</a></li>
					</ul>
				</nav>
			</div>
		</div>
	</footer>
	<!-- //Footer -->

	<!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
	<script src="../../../../ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
	<script src="../js/jquery.uniform.min.js"></script>
	<script src="../js/jquery.slicknav.min.js"></script>
	<script src="../js/wow.min.js"></script>
    <script src="../js/toaster.min.js"></script>
	<script src="../js/scripts.js"></script>
	<script>
		function openNav() {
			document.getElementById("mySidenav").style.width = "250px";
		}

		function closeNav() {
			document.getElementById("mySidenav").style.width = "0";
		}
		async function submitOtp(id){
			if(!id || id ==""){
				toastr.error('Smething is wrong ,please try again');
			}
			let otp = $("#otp").val();
			if(!otp || otp==""){
				toastr.error('Please submit a valid otp');
			}
			const data={
				user_id : id,
				otp : otp
			}
			const basicUrl = window.location.origin; /*"http://localhost:3000";*/
			$.ajax({
            url:basicUrl+'/users/user-otpchecking',
            type: "POST",
            data: data,
            dataType: "JSON",
            success: function(result){
                toastr.success('Data saved successfully');
                console.log("result ",result);
                if(result.status == true){
					window.localStorage.setItem("suvoYatrauserToken", result.payload);
					window.location.href = basicUrl + "/#booking";
                }
            },
            error: function(response) {
                toastr.error('some error is comming');
            }
        })
		}
	</script>
	<script src="../js/styler.js"></script>
</body>

</html>